.ski_faq {
    text-align: right;
}


.modal-body .nav-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.modal-body .nav-tabs > li {
    width: 100%;
    text-align: center;
}


.modal-body .form-group {
    width: 200px;
}

.tab-pane {
    padding-top: 15px;
}

.value-group, .value-control {
    width: 100px !important; 
}

h5 {
    padding-top: 10px;
    margin-left: 15px;
}