.controllers-wrapper {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.controllers-wrapper div * {
    cursor: pointer;
}

.App .main_tabs_header .nav-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.info-message {
    margin-bottom: 10px;
}